* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
}

h2 {
  padding: 50% 0;
  font-size: 1.2rem;
  color: white;
}

/* * ---------- grid gallery style ---------- */

.gallery {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: stretch;
}

.item {
  position: relative;
  overflow: hidden;
  text-align: center;
  justify-self: center;
}

/*  gallery grid-template-columns in fr & item justify-self stretch damit größe der items beim verkleinern responsive ist */

.item img {
  max-width: 100%;
  height: auto;
}

/* * ---------- hover effect style ---------- */

.hover-effect {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(50, 50, 50, 0.5);
  transition: height 0.5s ease;
  display: flex;
  justify-content: center;
}

.item:hover .hover-effect {
  height: 100%;
}

/* * ---------- media queries ---------- */

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
